.mainbox {
    margin-right : auto;
    margin-left : auto;
    margin-top : 3%;
    padding-bottom : 3%;
    background-color : #D6EBFE;
}

.img {
    display : flex;
    justify-content : center;
}

h1 {
    font-size : 200%;
    text-align : center;
    margin-top : 100px;
}

.my-char1 {
    height : 13%;
    width : 13%;
    margin-right : 1%;
    border-radius : 50px;
}

.my-char2 {
    height : 13%;
    width :13%;
    margin-right : 1%;
    border-radius : 50px;
 }

 .my-char3 {
    height : 13%;
     width : 13%;
     border-radius : 50px;
}


.button {
    display : flex;
    justify-content : center;
}

.button1 {
    font-weight : bold;
    font-size : 120%;
    color: black;
    border: 2px solid black;
    border-radius : 8px;
    margin-right : 0.5%;
    margin-top : 2%;
    text-decoration-line : none;
    background-color : white;
}

.button2 {
    font-weight : bold;
    font-size :  120%;
    color: black;
    border: 2px solid black;
    border-radius : 8px;
    margin-right : 0.5%;
    margin-top : 2%;
    text-decoration-line : none;
    background-color : white;
}

.button3 {
    font-weight : bold;
    font-size : 120%;
    color: black;
    border: 2px solid black;
    border-radius : 8px;
    margin-top : 2%;
    text-decoration-line : none;
    background-color : white;
}
 body {
    justify-content : center;
 }
