.mainbox {
    margin-right : auto;
    margin-left : auto;
    margin-top : 50%;
    padding-bottom : 50%;
    background-color : #D6EBFE;

}

h1 {
    font-size : 40px;
    text-align : center;
    margin-top : 50px;
}

.my-char1 {
height : 200px;
width : 200px;
margin-left: 450px;
margin-bottom : 50px;
border-radius : 50px;
}

.my-char2 {
    height : 200px;
    width : 200px;
    margin-bottom : 50px;
    border-radius : 50px;
 }

 .my-char3 {
    height : 200px;
     width : 200px;
     margin-bottom : 50px;
     border-radius : 50px;
}

.button1 {
    font-weight : bold;
    font-size : 20px;
    color: black;
    border: 2px solid black;
    border-radius : 8px;
    margin-left : 600px;
    text-decoration-line : none;
    background-color : white;
}

.button2 {
    font-weight : bold;
    font-size : 20px;
    color: black;
    border: 2px solid black;
    border-radius : 8px;
    text-decoration-line : none;
    background-color : white;
}

.button3 {
    font-weight : bold;
    font-size : 20px;
    color: black;
    border: 2px solid black;
    border-radius : 8px;
    text-decoration-line : none;
    background-color : white;
}