
.mainbox {
    margin : 3% 12% 3% 12%;
    background-color : #D6EBFE; 
}


body {
    justify-content : center;
 }


.button1 {
    font-weight : bold;
    font-size : 15px;
    color: black;
    border: 2px solid black;
    border-radius : 8px;
    text-decoration-line : none;
    background-color : white;
    position : absolute;
    right : 360px;
    top : 25px;
}

.button2 {
    font-weight : bold;
    font-size : 15px;
    color: black;
    border: 2px solid black;
    border-radius : 8px;
    text-decoration-line : none;
    background-color : white;
    position : absolute;
    right : 270px;
    top : 25px;
}


.button3 {
    font-weight : bold;
    font-size : 15px;
    color: black;
    border: 2px solid black;
    border-radius : 8px;
    text-decoration-line : none;
    background-color : white;
    position : absolute;
    right : 205px;
    top : 25px;
}

h1 {
    text-align : center;
    font-size : 40px;
}

.dog {
    width : 19%;
   height : 19%;
    border-radius : 50px;
    float : left; 
    margin-left : 15%;
}

.chicken{
    width : 19%;
    height  : 19%;
    border-radius : 50px;
    margin-left : 8%;
    margin-right : 8%;
}

.marvel {
    width : 19%;
    height  : 19%;
    border-radius : 50px;

}

.sleep {
    width : 19%;
    height : 19%;
    border-radius : 50px;
    float : left; 
    margin-left : 25%;
    margin-right : 5%;
    margin-top : 3%; 

}

.melon {
    width : 19%;
    height  : 19%;
    border-radius : 50px;
    margin-left : 5%;
    margin-right : 20%;
    margin-top : 3%;
}
.infor {
    font-size : 20px;
    
    display : flex;
    justify-content : center;
}

.name {
    display : flex;
    justify-content : center;
}