.mainbox {
    margin : 80px 200px 50px 200px;
    background-color : #D6EBFE;
}
.button1 {
    font-weight : bold;
    font-size : 15px;
    color: black;
    border: 2px solid black;
    border-radius : 8px;
    text-decoration-line : none;
    position : absolute;
    right : 355px;
    top : 52px;
}

.button2 {
    font-weight : bold;
    font-size : 15px;
    color: black;
    border: 2px solid black;
    border-radius : 8px;
    text-decoration-line : none;
    position : absolute;
    right : 270px;
    top : 52px;
}


.button3 {
    font-weight : bold;
    font-size : 15px;
    color: black;
    border: 2px solid black;
    border-radius : 8px;
    text-decoration-line : none;
    position : absolute;
    right : 210px;
    top : 52px;
}
h1 {
    text-align : center;
    font-size : 40px;
    padding-top : 10px;
}

.dog {
    width : 200px;
    height : 200px;
    border-radius : 50px;
    float : left; 
    margin-left : 150px;
}

.chicken {
    width : 200px;
    height : 200px;
    border-radius : 50px;
    float : left; 
    margin-left : 100px;
}

.marvel {
    width : 200px;
    height : 200px;
    border-radius : 50px;
    margin-left : 100px;
}

.sleep {
    width : 200px;
    height : 200px;
    border-radius : 50px;
    float : left; 
    margin-left : 300px;
    margin-top : 30px;

}

.melon {
    width : 200px;
    height : 200px;
    border-radius : 50px;
    margin-left : 100px;
    margin-top : 30px;
}
.infor {
    font-size : 20px;
}